@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
var Id =TknParams.Id.Value.ToString();
var userId = TknParams.UserId.Value.ToString();
var projectDetails = COOPTokens.GetProjectDetail(projectId:Id);
var participantsList = COOPTokens.GetParticipantsName(projectId:Id);
var participantExists = COOPTokens.CheckIfParticipantExists(projectId:Id, userId:userId).ToString();
var participantsNumber = Convert.ToInt32(COOPTokens.GetParticipantNumber(projectId:Id).ToString());
var loggedUser = COOPTokens.GetCreatedBySameAsLoggedUser(projectId:Id, userId:userId).ToString();
}

    <h2 id="project-header">Details for Project <strong><em>@projectDetails.Title</em></strong></h2>
    <div id="content">
         <p>@projectDetails.Description</p>
         <p><em>Created date: @projectDetails.CreatedDate by @projectDetails.CreatedBy</em></p>
         @if(projectDetails.LastModifiedDate.ToString() != "" && projectDetails.LastModifiedBy.ToString() != ""){
         <p><em>Modified date: @projectDetails.LastModifiedDate by @projectDetails.LastModifiedBy</em></p>
         }
    </div>
        


@if(participantsNumber > 0){
    <div>
        <p>Participants:<br>
       
            <ol>
                 @foreach(var participant in participantsList) {
                <li>@participant.DisplayName</li>
                }
            </ol>
         
        </p>
        
    </div>
}

<div>
    <button type="button" id="pbtn" class="btn btn-primary bluebtn btn-lg">
        <a href="https://coopv2.apps.plantanapp.com/All-Projects?pagesize=24" id="back">Back</a>
    </button>
     @if(participantExists == "1" || loggedUser == "1"){
       <button type="button" id="ebtn" class="btn btn-primary bluebtn btn-lg">Edit</button>
     }
      <button type="button" id="mbtn" class="btn btn-primary bluebtn btn-lg" onclick= '
            dnnsf.api.actionForm.openPopupById("715"); return 0' >Schedule Meeting ☎</button>
</div>

<script>
     var btn = document.getElementById("ebtn")
          btn.addEventListener('click', (e) => {
          dnnsf.api.actionForm.openPopupById("593") 
          e.preventDefault();
     })
     
    // var meetingbtn = document.getElementById("mbtn")
    //       meetingbtn.addEventListener('click', (e) => {
    //         e.preventDefault();
    //         dnnsf.api.actionForm.openPopupById("715")  
      
    //  }) 
</script>
  

<style>
    #project-header{
         background-color:#0E2936; 
         color:#fff; 
         padding:1rem; 
         text-align:center;
         margin-bottom:1.5rem;
         margin:0 auto;
         width:50%;
    }
    
    #back{
        color:#ffffff; !important
        text-decoration: none;!important
    }
    
    #content{
        margin:0;
        padding:0; 
    }
    }
    }
</style>